.trapezoid {
  border-bottom: 50px solid #555;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100%;
}

.ghe {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5%;
  background-color: rgb(175, 170, 170);
  margin: 5px;
  color: #fff;
  cursor: pointer;
}

.gheDaDat {
  cursor: no-drop;
  background-color: rgb(238, 237, 238);
  color: #fff;
  font-weight: bold;
}

.gheVip {
  background-color: orangered;
  color: #fff;
}

.gheDangDat {
  background-color: rgb(112, 201, 24);
}
